.form-container {
  display: flex;
  justify-content: center;
}

.forn {
  /* justify-content: center; */
}

.first-name {
  margin: 5px;
}

.last-name {
}

.button {
  margin: 15px;
  justify-content: center;
}

.name-container {
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

.first-name {
  margin: 0 15px 0 0;
}

.second-name {
  margin: 0 0 15px 0;
}

.list-container {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.list-names {
  margin: 10px;
  color: red;
}
